@page
@model MyApp.Namespace.AboutUsModel
@{
}

<!-- //covers -->
<!---728x90--->

<!-- features-4 block -->
<section class="w3l-content-1" id="about">
    <div id="content1-block"  class="py-5">
        <div class="container py-md-3">
             <div class="heading text-center mx-auto">
       <h3 class="head">Naša ideja</h3>
       <p class="my-3 head"> U moru ponuda turističkih aranžmana i ostalih turističkih usluga, kao putnik, veoma je teško sagledati sve neophodne aspekte i informacije vezane za samo putovanje, odabir destinacija, prevoza, i sl. A pri tom izbeći moguće neprijatnosti i odmor provesti sa potpunim uživanjem.
           Upravo u toj činjenici leži naša ideja da se prodajom turističkog aranžmana ili druge turističke usluge putnik do najsitnijih detalja informiše o željenoj destinaciji, da se pruži prava i proverena informacija, i da ne postoji bilo kakav rizik po putnika koji može dovesti do bilo kakvih neprijatnosti na putovanju.
            Jednostavno, pružiti putniku „stvarno savršen odmor“ kakav i očekuje.</p>
     </div>
            <div class="cwp23-img mt-5">
                <img src="assets/images/banner-1.jpg" class="img-responsive" alt="">
            </div>
            <div class="row mt-5">
                <div class="grids4-info  col-md-6">
                  
                    <div class="info-bg">
                        <h5>Naše ponude</h5>
                        <p>U ponudi naše agencije nalazi se kompletna ponuda aranžmana za Letovanje, Zimovanje, Prolećna i jesenja putovanja, Praznična putovanja, Uskršnja i prvomajska putovanja, Doček Nove godine, Krstarenja, Daleke i egzotične destinacije…
                            Grčka, Turska, Crna Gora, Bugarska, Italija, Španija, Makedonija…samo su neke od zemalja koje se nalaze u našoj turističkoj ponudi.
                            Takođe, u ponudi agencije nalazi se i usluga rezervacije i prodaje avio karata svih svetskih avio kompanija kao i low cost avio kompanija, rezervacije autobuskog prevoza i transfera putnika do svih većih aerodroma kako u Srbiji tako i u Bugarskoj, Makedoniji i sl</p>
                      
                    </div>
                </div>
                <div class="grids4-info  col-md-6 mt-md-0 mt-5">
                  
                    <div class="info-bg">
                        <h5>Naše dodatne usluge</h5>
                        <p>U sklopu naše agencije, nalazi se i menjačnica, kako bismo svim klijentima omogućili da na jednom mestu izvrše i zamenu stranog novca za domaću valutu po posebnom, povoljnijem kursu.
                    Trudili smo se, i trudićemo se da budemo među najboljima. Sa Vama, i uz Vas. Uvek spremni da prihvatimo i pozitivnu i negativnu kritiku i da na obostrano zadovoljstvo unapredimo odnos i saradnju.</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- features-4 block -->
<!---728x90--->

<!-- specifications -->
<section class="w3l-specifications-9">
    <div class="main-w3 pb-5">
        <div class="container pb-md-3">
               
            <div class="main-cont-wthree-fea row">
                <div class="col-lg-2 col-md-4 col-6">
                    <div class="grids-speci">
                        <span class="fa fa-coffee"></span>
                   
                    <p>BREAKFAST</p>
                </div>
            </div>
                <div class="col-lg-2 col-md-4 col-6">
                <div class="grids-speci midd-eff-spe ">
                        <span class="fa fa-cog"></span> 
                   
                    <p> AIR CONDITIONING</p>
                </div>
            </div>
                <div class="col-lg-2 col-md-4 col-6 mt-md-0 mt-4">
                <div class="grids-speci las-but">
                       <span class="fa fa-television"></span>
                   
                    <p>TV LCD</p>
                </div>
            </div>
                <div class="col-lg-2 col-md-4 col-6 mt-lg-0 mt-4">
                <div class="grids-speci las-t">
                        <span class="fa fa-car"></span>
                       
                        <p>FREE PARKING</p>
                    </div>
                </div>
                    <div class="col-lg-2 col-md-4 mt-lg-0 col-6 mt-4">
                    <div class="grids-speci las-t">
                        <span class="fa fa-wifi"></span>
                        
                        <p>WI-FI SERVICE</p>
                    </div>
                </div>
                    <div class="col-lg-2 col-md-4 col-6 mt-lg-0 mt-4">
                    <div class="grids-speci las-t ">
                        <span class="fa fa-cutlery"></span>
                      
                        <p>RESTAURANT</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- //specifications -->
</section>
