@page
@model MyApp.Namespace.AddHotelModel
@{
}
<head>
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

	  
	<title>Table4U | Register Business</title>
	 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="  crossorigin=""/>
     <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"       integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="       crossorigin=""></script>
	 <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	 <script src="https://unpkg.com/esri-leaflet@2.4.0/dist/esri-leaflet.js"  integrity="sha512-kq0i5Xvdq0ii3v+eRLDpa++uaYPlTuFaOYrfQ0Zdjmms/laOwIvLMAxh7cj1eTqqGG47ssAcTY4hjkWydGt6Eg==" crossorigin=""></script>
 
     <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.3.2/dist/esri-leaflet-geocoder.css"   integrity="sha512-IM3Hs+feyi40yZhDH6kV8vQMg4Fh20s9OzInIIAc4nx7aMYMfo+IenRUekoYsHZqGkREUgx0VvlEsgm7nCDW9g=="   crossorigin="">
     <script src="https://unpkg.com/esri-leaflet-geocoder@2.3.2/dist/esri-leaflet-geocoder.js" integrity="sha512-8twnXcrOGP3WfMvjB0jS5pNigFuIWj4ALwWEgxhZ+mxvjF5/FBPVd5uAxqT8dd2kUmTVK9+yQJ4CmTmSg/sXAQ==" crossorigin=""></script>	 
	 <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
     <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
	 <script src="https://kit.fontawesome.com/42e45ec991.js" crossorigin="anonymous"></script>
	 

	 <link rel="stylesheet" type="text/css" href="css/style.css">
<script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule="" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<style type="text/css">
	  .input-group-append
	 {
		 display: none;
	 }
	 </style>

</head>

<div class="content">
	<div class="main">
	   <div class="container">
		  <div class="register">
			  <div style="width:100%;display: flex;flex-direction:row;justify-content:space-between;">	<h3>PROVIDE INFORMATIONS ABOUT YOUR BUSINESS</h3> 
			  
					</div><br><br>
		  	  <form id="signupForm" method="post" enctype="multipart/form-data"> 
			
				<div class="bi-name-type h-container">
					<span  class="bi-name v-container wow fadeInLeft">
						<div class="form-element-label">NAME*</div>
						<input type="text" id="name-val" value="" asp-for="noviHotel.Naziv">
						<label class="error" style="visibility: hidden;">This field is required.</label>
					</span>
				</div>
				<div class="bi-address-city-mapBtn">
					<span class="bi-address wow fadeInLeft">
						<div class="form-element-label">ADDRESS*</div>
						<input type="text" id="address-val" value="" asp-for="noviHotel.Adresa">
						<label class="error" style="visibility: hidden;">This field is required.</label>
					</span>
					<span class="bi-city wow fadeInRight">
						<div class="form-element-label">City*</div>
						<input type="text" id="city-val" value="" asp-for="noviHotel.Grad">
						<label class="error" style="visibility: hidden;">This field is required.</label>
					</span>
                    <span class="bi-city wow fadeInRight">
						<div class="form-element-label">Country*</div>
						<input type="text" id="country-val" value="" asp-for="noviHotel.Drzava">
						<label class="error" style="visibility: hidden;">This field is required.</label>
					</span>
					<span class="bi-mapBtn wow fadeInRight">
						<div class="form-element-label">Mark location*</div>
						<span style="font-size: 2em;color:rgb(255,91,54);">
							<i id="bi-open-map"class="fas fa-map-marker-alt"></i>
						</span>
						<div class="error" style="visibility: hidden;">Set marker.</div>
					</span>
                    <span class="bi-city wow fadeInRight">
						<div class="form-element-label">Phone Number*</div>
						<input type="text" id="tel-val" value="" asp-for="noviHotel.brojTelefona">
						<label class="error" style="visibility: hidden;">This field is required.</label>
					</span>
                    <span class="bi-type v-container wow fadeInRight">
						<div class="form-element-label">No. of stars*</div>
						<select asp-for="noviHotel.brojZvezdica" id="bi-business-star" >
							<option value="">Choose one...</option>
							<option value="5">*****</option>
							<option value="4">****</option>
							<option value="3">***</option>
							<option value="2">**</option>
							<option value="1">*</option>
							
						</select>
						<div class="error" style="visibility: hidden;">Select one option.</div>
					</span>
				</div>
				
				
				<div class="bi-description wow fadeInLeft">
  					<div class="form-element-label">DESCRIPTION</div>
  					<textarea class="bi-description-val" maxlength="420" id="desc-val" rows="6" asp-for="noviHotel.Opis"></textarea>
					  <label class="error" style="visibility: hidden;">This field is required.</label>
				</div>
				<div class="bi-image wow fadeInLeft">
					<div class="form-element-label">ADD PICTURE*</div>
					 <div class="bi-images-import">
       					 <label for="files">Select multiple files: </label>
      					 <input id="import-files" type="file" accept="image/*" multiple/>
						   <label class="image-user-info">Import 4 pictures</label>
     					 <table style="display:none;"id="import-table" class="table">
						<thead>
							<th>Picture</th>
							<th>Set Main Picture</th>
							<th>Remove</th>
							<th>Name</th>
						</thead>

						<tbody>

						</tbody>
						  
						</table>
 					   </div>
				</div>
				
				
				<div id="bi-map-modal" class="modal">
                        <div class="modal-content">
                        <div class="map-title-x"><br /><h3 class="form-element-label">Set marker on your business's location</h3><span class="bi-map-modal-close">&times;</span></div>
   				             <div id="bi-map"></div>
					    <label class="btn button-eff" id="doneWithMap"class="register-but">DONE</label>
 				        </div>
				</div>
                
                <div class="bi-description wow fadeInLeft">
  					<div class="form-element-label">Rooms </div><br>
                      <span>New room:  <span>
                                            <input id="room-label" type="text" placeholder="Room label">
                                            <input id="room-bed-no" min="1" type="number" placeholder="Bed no.">
                                       </span>
                             <button  type="button" onclick="dodajSobu(this)">Add room</button>
                      </span>

  					
					 <br>
				</div>
                    <br><br><br>
								
				<input type="text" id="mapLongitude" value="" asp-for="noviHotel.longitude" style="display: none;"> 
				<input type="text" id="mapLatitude" value="" asp-for="noviHotel.latitude" style="display: none;">
				<div class="bi-buttons wow fadeInLeft">
				<button class="btn button-eff" type="submit" asp-page-handler="next"class="register-but" id="bi-finish">Finish</button>
				
				</div>
				<script src="js/validateEmail.js"></script>
                <input type="text" asp-for="slika1" style="display: none;" id="img-src-1" value="">
                <input type="text" asp-for="slika2" style="display: none;" id="img-src-2" value="">
                <input type="text" asp-for="slika3" style="display: none;" id="img-src-3" value="">
                <input type="text" asp-for="glavnaSlika" style="display: none;" id="img-src-glavna" value="">
			  </form>
		   </div>
	     </div>
	    </div>
                <script>
				function makeMeFileApiPromise(index,output,files,event,filesInput)
				{
					return new Promise((resolve,reject)=>
					{
						output.parentElement.style.display="table";
                        var file = files[index];
                        if(!file.type.match('image'))
                        {
                            alert("Picture is not valid!")
                            resolve(".");
                            return;
                        }           
                        var picReader = new FileReader();
				        picReader.fileName=file.name;
                        picReader.addEventListener("load",function(event)
                        {
                        var picFile = event.target;

                        var tr = document.createElement("tr");
                        tr.className="imported-picture";

					    let td=document.createElement("td");
                        let img=document.createElement("img");
                        img.width=150;
                        img.height=100;
                        img.src=picFile.result;
					    td.appendChild(img);
                        tr.appendChild(td);

					    td=document.createElement("td");
					    let inp=document.createElement("input");
					    inp.type="radio";
					    inp.name="mainPicture";
					    td.appendChild(inp);
					    tr.appendChild(td);	

					    td=document.createElement("td");
					    td.style.fontSize="30px";
					    let icon=document.createElement("i");
					    icon.className="fas fa-trash-alt"
					    td.appendChild(icon);
					    tr.appendChild(td);

					    td=document.createElement("td");
					    tr.appendChild(td);
					    let div=document.createElement("div");
					    div.innerHTML=(picFile.fileName.length>7)?picFile.fileName.substring(0,7)+"...":picFile.fileName;
                        td.appendChild(div);

					    output.appendChild(tr);  
					
				
					    tr.querySelector("i").onclick=function removePictureAction()
					    {
						    output.removeChild(tr);
						    makeOneChecked();
						    let currImported=document.querySelectorAll(".imported-picture").length;
						    if(currImported==0)
							{
                                output.parentElement.style.display="none";
								alertUser("Import 4 pictures");
							
							} else if(currImported<4)
                                    {		
                                        let pom=4-currImported;
                                        if(pom==1)
                                        alertUser("Upload "+pom+" more picture!");
                                        else 
                                        alertUser("Upload "+pom+" more pictures!");
                                    }
                                    else
                                    {
                                        alertUser("");
                                    }
						let rows=output.querySelectorAll(".imported-picture");
						if(rows.length==0)
						filesInput.value=null;
						
					    }
					    resolve(".")
				        });

                        picReader.readAsDataURL(file)
                 
        	        });
                }

					function makeOneChecked()
					{	
						let rows=document.querySelectorAll(".imported-picture");
						let oneIsChecked=false;
                        rows.forEach((row)=>{

                        if(row.querySelector("input").checked)
                            {
                                oneIsChecked=true;
                                
                            }
                            });
						if(rows.length>0)
						{
							if(!oneIsChecked)
							{
								document.querySelector(".imported-picture").querySelector("input").checked=true;
							}
								
						}
					}

					function alertUser(info)
					{
						if(info!="")
						{
							document.querySelector(".image-user-info").innerHTML=info;
							document.querySelector(".image-user-info").style.display="block";
						}
						else
						{
							document.querySelector(".image-user-info").innerHTML=info;
							document.querySelector(".image-user-info").style.display="none";
						}
						
					}

                window.onload = function()
                {

                        if(window.File && window.FileList && window.FileReader)
                        {
                            var filesInput = document.getElementById("import-files");
                            
                                filesInput.addEventListener("change", function pictureNotificationMessage(event){
                                let currImported=document.querySelectorAll(".imported-picture").length;
                                var files = event.target.files; //FileList object
                                var output = document.querySelector("#import-table tbody");
                                var faultyImages=0;
                                    for(let index=0;index<files.length;index++)
                                        if(!files[index].type.match('image'))
                                        {
                                                faultyImages++;
                                        }   

                                if(files.length-faultyImages+currImported<4)
                                    {	let pom=4-(files.length-faultyImages+currImported);
                                        if(pom==1)
                                        {alertUser("Upload "+pom+" more picture!");}
                                        else 
                                        {alertUser("Upload "+pom+" more pictures!");}

                                        
                                    }
                                    else if(files.length+currImported>4)
                                    {
                                        let pom=4-currImported;
                                        if(pom==1)
                                        alertUser("Too many pictures imported. Only "+pom+" more allowed!");
                                        else if(pom==0)
                                        alertUser("No more pictures allowed. Remove some if you want to add more");
                                        else
                                        alertUser("Too many pictures imported. Only "+pom+" more allowed!");
                                        return;
                                    }
                                    else
                                        alertUser("");
                                
                                let niz=new Array()
                                for(var i = 0; i<files.length; i++)
                                {	
                                    let rez=makeMeFileApiPromise(i,output,files,event,filesInput);
                                        niz.push(rez);

                                }
                            
                                Promise.all(niz).then(x=>{
                                    console.log(document.querySelectorAll(".imported-picture").length);
                                        makeOneChecked();

                                }).catch(x=>{console.log(document.querySelectorAll(".imported-picture").length);
                                makeOneChecked()});
                            
                            });      
                        }
                        else
                        {
                            console.log("Your browser does not support File API");
                        }
                    }
				</script>
				

                <script>
					var modalmap = document.getElementById("bi-map-modal");
					var btnmap = document.getElementById("bi-open-map");
					var spanmap = document.getElementsByClassName("bi-map-modal-close")[0];
					var closeBtnmap=document.getElementById("doneWithMap");

					
					closeBtnmap.onclick=spanmap.onclick = function() {
 			 		modalmap.style.display = "none";
					  //mapError();
					}	
					
					function drawMap(location) 
					{
				
						let latlng;
						if(location["code"]==1)
						{
							latlng=[51.505, -0.09];
						}
						else
						{
  					 		latlng = new L.LatLng(location.coords.latitude, location.coords.longitude);
						}
					var mymap = L.map('bi-map').setView(latlng, 10);
					L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
   					 attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
   					 maxZoom: 18,
   					 id: 'mapbox/streets-v11',
   					 tileSize: 512,
   					 zoomOffset: -1,
   					 accessToken: 'pk.eyJ1Ijoib2duamVuZDI3OCIsImEiOiJjazlkdGVqeTQwNTliM2VraWVxZjF6aTZ6In0.C7Uz4Qzo25zjo2koKg8W_g'
					}).addTo(mymap);
						var marker=L.marker(new L.LatLng(36,-36),{draggable:true}).addTo(mymap).bindPopup("<b>Your business<br /><center>location</center></b>");
						 $(marker._icon).addClass("hideThisMarker");

							
							function onMapClick(e) {
								marker.setLatLng(e.latlng);
								document.querySelector("#mapLongitude").value=e.latlng.lng;
								document.querySelector("#mapLatitude").value=e.latlng.lat;
								
								if ($(marker._icon).hasClass('hideThisMarker'))
									$(marker._icon).removeClass("hideThisMarker");

								}
								
						mymap.on('click', onMapClick);

						marker.on('dragend', function dragMarkerChange(e) {
    						document.querySelector("#mapLongitude").value=marker.getLatLng().lng;
								document.querySelector("#mapLatitude").value=marker.getLatLng().lat;
									console.log(marker.getLatLng());
							});
					document.querySelector("#bi-open-map").onclick=function showMap(){
						
						 modalmap.style.display = "block";
						 	mymap.invalidateSize();

					}	
					var searchControl = L.esri.Geocoding.geosearch().addTo(mymap);

 					var results = L.layerGroup().addTo(mymap);
					 

  					searchControl.on('results', function (data) {
   					 results.clearLayers();
						if ($(marker._icon).hasClass('hideThisMarker'))
							return;

					
   					 for (var i = data.results.length - 1; i >= 0; i--) {
    				  			marker.setLatLng(data.results[i].latlng);
   						 }
 					 });
					
					}
					navigator.geolocation.getCurrentPosition(drawMap,drawMap);
					
				</script>

				
                <script>
                    let counter=0;
                     function dodajSobu(ev)
                     {
                         let labela=ev.parentElement.querySelector("#room-label");
                         let no=ev.parentElement.querySelector("#room-bed-no");
                            if(labela.value==""||no.value=="")
                            return;
                        let par =ev.parentElement.parentElement;
                        par.appendChild(document.createElement("br"));
                        let el=document.createElement("input");
						let span =document.createElement("span");
						span.appendChild(el);
						 let icon=document.createElement("i");
					    icon.className="fas fa-trash-alt"
						span.appendChild(icon);
						icon.onclick=(ev)=>
						{
							ev.target.parentElement.remove();
						}




                        par.appendChild(span);
                        el.name="sobe";
                        el.type="text";
                        el.readOnly="disabled";
                        el.value=labela.value+"|"+no.value;
                      counter++;
                         
                     }
					function formError()
					{
						let select=document.querySelector("#bi-business-star");
						if(select.options[select.selectedIndex].value=="")
                            return true;
                        if(document.querySelector(".bi-description-val").value=="")
                        return true;
                        document.querySelectorAll("input[type=text]").forEach(el=>{
                            if(el.value==""&&el.id!="room-label")
                            return true;

                        });
                        if(document.querySelectorAll("[name^=sobe]").length==0)
                            return true;
                        


						
						
					}
					document.querySelector("#signupForm").onsubmit=function submitFormAction(e)
					{	
						

                        let pictureIndex=1;
						document.querySelectorAll(".imported-picture img").forEach((slika,index)=>
						{
							if(slika.parentElement.parentElement.querySelector("input").checked)
							{
								document.querySelector("#img-src-glavna").value=slika.src;
							}
							else
							{
								document.querySelector("#img-src-"+pictureIndex).value=slika.src;
								pictureIndex++;
							}
							
						});


						if(formError())
						{
                            alert("Niste uneli sve neophodne podatke");
                            return false;
                        }
						
					    return true;						
					}
		
					
				</script>


   
	