@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="w3l-main-slider" id="home">
    <!-- main-slider -->
    <div class="companies20-content">
      <div class="companies-wrapper"></div>
        <div class="owl-one owl-carousel owl-theme">
          <div class="item">
            <li>
              <div class="slider-info banner-view bg bg2" data-selector=".bg.bg2">
                <div class="banner-info">
                  <div class="container">
                    <div class="banner-info-bg">
                      <h6>Australia</h6>
                      <h5>The Best Hotel Reservation</h5>
                    
                     
                      <a class="btn btn-secondary btn-theme2 mt-5" href="accommodation.html"> Book Now Your Room</a>
                  </div>
                 </div>
                </div>
              </div>
            </li>
          </div>
          <div class="item">
            <li>
              <div class="slider-info  banner-view banner-top1 bg bg2" data-selector=".bg.bg2">
                <div class="banner-info">
                  <div class="container">
                    <div class="banner-info-bg">
                      <h6>Australia</h6>
                      <h5>The Best Hotel Reservation</h5>
                       <a class="btn btn-secondary btn-theme2 mt-5" href="accommodation.html"> Book Now Your Room</a>
                  </div>
                </div>
                </div>
              </div>
            </li>
          </div>
          <div class="item">
            <li>
              <div class="slider-info banner-view banner-top2 bg bg2" data-selector=".bg.bg2">
                <div class="banner-info">
                  <div class="container">
                    <div class="banner-info-bg">
                      <h6>Australia</h6>
                      <h5>The Best Hotel Reservation</h5>
                       <a class="btn btn-secondary btn-theme2 mt-5" href="accommodation.html"> Book Now Your Room</a>
                  </div>
                </div>
                </div>
              </div>
            </li>
          </div>
          <div class="item">
            <li>
              <div class="slider-info banner-view banner-top3 bg bg2" data-selector=".bg.bg2">
                <div class="banner-info">
                  <div class="container">
                    <div class="banner-info-bg">
                      <h6>Australia</h6>
                      <h5>The Best Hotel Reservation</h5>
                       <a class="btn btn-secondary btn-theme2 mt-5" href="accommodation.html"> Book Now Your Room</a>
                  </div>
                </div>
                </div>
              </div>
            </li>
          </div>
        </div>
      </div>
    </div>
  
    <script src="js/owl.carousel.js"></script>
  
    <!-- script for -->
    <script>
      $(document).ready(function () {
        $('.owl-one').owlCarousel({
          loop: true,
          margin: 0,
          nav: false,
          responsiveClass: true,
          autoplay: false,
          autoplayTimeout: 5000,
          autoplaySpeed: 1000,
          autoplayHoverPause: false,
          responsive: {
            0: {
              items: 1,
              nav: false
            },
            480: {
              items: 1,
              nav: false
            },
            667: {
              items: 1,
              nav: true
            },
            1000: {
              items: 1,
              nav: true
            }
          }
        })
      })
    </script>
    <!-- //script -->
    <!-- /main-slider -->
  </section>
<!---728x90--->

<section class="form-16" id="booking">
        <!-- /form-16-section -->
          <div class="form-16-mian py-5">
            <div class="container py-md-3">
                <div class="forms-16-top">
                     <div class="form-right-inf"> 
                         <div class="form-inner-cont">
                           <h3>Choose your place</h3> 
                             <form action="https://p.w3layouts.com/demosWTR/Freedom/12-02-2020/haven-freedom-demo_Free/1505901166/web/search-results.html" method="post" class="signin-form">	
                                 <div  class="row book-form">
                                     <div  class="form-input col-lg-6 col-md-6">
                                         <input type="text" name="" placeholder="Enter Your Name" required />
                                     </div>
                                     <div  class="form-input col-lg-6 col-md-6 mt-md-0 mt-3">
                                        <input type="email" name="" placeholder="Email" required />
                                          
                                    </div>
                                    <div  class="form-input col-md-4 mt-3">
                                        <input type="date" name="" placeholder="Date" required="">
                                    </div>
                                    <div  class="form-input col-md-4 mt-3">
                                        <input type="date" name="" placeholder="Date" required="">
                                          
                                    </div>
                                     <div  class="form-input col-md-4  mt-3">
                                        <select class="selectpicker">
                                            <option>Adults</option>
                                            <option>01</option>
                                            <option>02</option>
                                            <option>03</option>
                                            <option>04</option>
                                          </select>
                                          
                                     </div>
                                     <div  class="form-input col-md-4 mt-3">
                                        <select class="selectpicker">
                                            <option>Children</option>
                                            <option>01</option>
                                            <option>02</option>
                                            <option>03</option>
                                            <option>04</option>
                                          </select>
                                          
                                     </div>
                                     <div  class="form-input col-md-4  mt-3">
                                        <input type="text" name="" placeholder="Max Price ($)" required />
                                    </div> 
                                    <div  class="bottom-btn col-md-4  mt-3">
                                    <button class="btn">Check Availability</button>
                                    </div>
                                 </div>
                                
                                
                                 
                             </form>
                         </div>
                     </div>
                 </div>
             </div>
             </div>
         </section>
       <!-- //form-16-section -->
	   <!---728x90--->

<section class="grids-4">
    <div id="grids4-block" class="py-5">
       <div class="container py-md-3">
			<div class="heading text-center mx-auto">
      <h3 class="head">Favorite Rooms</h3>
      <p class="my-3 head"> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
        Nulla mollis dapibus nunc, ut rhoncus
        turpis sodales quis. Integer sit amet mattis quam.</p>
    </div>
            <div class="row mt-5 pt-3">
                <div class="grids4-info  col-lg-4 col-md-6">
                        <a href="accommodation-single.html"><img src="assets/images/g1.jpg" class="img-fluid" alt=""></a>
                        <div class="info-bg">
                            <h5><a href="accommodation-single.html">Deluxe Room</a></h5>
                            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia  Nulla mollis dapibus nunc</p>
                            <a class="btn btn-theme1" href="accommodation.html"> View Details</a>
                        </div>
                    </div>
                <div class="grids4-info col-lg-4 col-md-6 mt-md-0 mt-4">
                        <a href="accommodation-single.html"><img src="assets/images/g2.jpg" class="img-fluid" alt=""></a>
                        <div class="info-bg">
                            <h5><a href="accommodation-single.html">Master Rooms
                            </a></h5>
                            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia  Nulla mollis dapibus nunc</p>
                            <a class="btn btn-theme1" href="accommodation.html"> View Details</a>
                        </div>
                    </div>
                 <div class="grids4-info col-lg-4 col-md-6 offset-lg-0 offset-md-3 mt-lg-0 mt-4">
                        <a href="accommodation-single.html"><img src="assets/images/g3.jpg" class="img-fluid" alt=""></a>
                        <div class="info-bg">
                            <h5><a href="accommodation-single.html">Superior Room</a></h5>
                            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia  Nulla mollis dapibus nunc</p>
                            <a class="btn btn-theme1" href="accommodation.html"> View Details</a>
                        </div>
                    </div>
					
                </div>
           </div>
    </div>
</section>
<!---728x90--->

   <!--customers-7-->
    <section class="w3l-customers-7">
		<div class="customers_sur py-5">
            <div class="container py-md-3">
               
                <div class="customers-top_sur row">
                    <div class="customers-left_sur col-lg-6">
                        <h4>Welcome To Hotels </h4>
                        <p class="sub-test mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                           
                    </div>
                     <div class="customers-middle_sur col-lg-6 mt-lg-0 mt-4">
                        <div class="customers_grid">
                           <div class="customers-bottom_sur">
                                <div class="custo-img-res">
                                     <img src="images/mid.jpg" alt=" " class="img-responsive">
                                </div>
                                
								
                            </div>
                        </div>
                    </div>
                     
                </div>
            </div>
		</div>
    </section>
    <!--//customers-7-->

<section class="grids-5">
    <div id="grids5-block" class="py-5">
       <div class="container py-md-3">
			<div class="heading text-center mx-auto">
      <h3 class="head">Special Services</h3>
      <p class="my-3 head"> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
        Nulla mollis dapibus nunc, ut rhoncus
        turpis sodales quis. Integer sit amet mattis quam.</p>
    </div>
            <div class="row mt-5 pt-3">
                <div class="grids4-info col-md-6">
                        <a href="accommodation-single.html"><img src="images/g11.jpg" class="img-fluid" alt=""></a>
                        <div class="info-bg">
                            <h5><a href="accommodation-single.html">Hotel Reservation</a></h5>
                            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia  Nulla mollis dapibus nunc</p>
                            <a class="btn btn-theme1" href="accommodation.html"> View Details</a>
                        </div>
                    </div>
                <div class="grids4-info col-md-6 mt-md-0 mt-4">
                        <a href="accommodation-single.html"><img src="images/g12.jpg" class="img-fluid" alt=""></a>
                        <div class="info-bg">
                            <h5><a href="accommodation-single.html">Couple Area
                            </a></h5>
                            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia  Nulla mollis dapibus nunc</p>
                            <a class="btn btn-theme1" href="accommodation.html"> View Details</a>
                        </div>
                    </div>
               </div>
           </div>
    </div>
</section>
<!-- customers4 block -->
<section class="w3l-customers-4" id="testimonials">
  <div id="customers4-block" class="py-5">
    <div class="container py-md-3">
   <div class="heading text-center mx-auto">
   <h3 class="head">From Customers</h3>
  
 </div>
     <div class="section-title align-center text-center mt-5 pt-3">
          <div class="item-top">
            <div class="item">
             <div class="imgTitle">
               <img src="assets/images/te1.jpg" class="img-responsive" alt="" />
              </div>
              <h6 class="mt-3">Jessey Rider</h6>
              <p>Ceo of Company</p>
              <p> Magna aliqua. Ut enim ad minim veniam, quis nostrud.Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
              <ul class="mb-3">
								<li class="rated"><ispan class="fa fa-star"></ispan></li>
                                <li class="rated"><ispan class="fa fa-star"></ispan></li>
                                <li class="rated"><ispan class="fa fa-star"></ispan></li>
                                <li class="rated"><ispan class="fa fa-star"></ispan></li>
                                <li class="rated"><ispan class="fa fa-star"></ispan></li>
							</ul>
          </div>
         </div>
    </div>
  </div>
  </div>
  
 
</section>
<section class="w3l-price-2" id="news">
    <div class="price-main py-5">
        <div class="container py-md-3">
             <div class="heading text-center mx-auto">
       <h3 class="head">Latest News</h3>
       <p class="my-3 head"> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
         Nulla mollis dapibus nunc, ut rhoncus
         turpis sodales quis. Integer sit amet mattis quam.</p>
     </div>
            <div class="pricing-style-w3ls mt-5 pt-3 row">
              <div class="pricing-chart col-lg-8">
                        <div class="price-box btn-layout bt6">
                            <div class="grid grid-column-2">
                                    <div class="column2">
                                            <img src="assets/images/g1.jpg" alt="" class="img-responsive">
                                        </div>
                                <div class="column1">
                                   
                                    <div class="job-info">
                                        <h6 class="pricehead"><a href="blog.html">
                                            Magna pars studiorum</a></h6>
                                        <p>Fusce rutrum quam a ultrices rhoncus. Nulla eu ipsum tempus est et vitae nulla empus est suscipit et dolor amet.</p>
                                        <h5>December 25, 2019</h5>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                        <div class="price-box btn-layout bt6 mt-4 mb-4">
                            <div class="grid grid-column-2">
                                    <div class="column2">
                                            <img src="assets/images/g2.jpg" alt="" class="img-responsive">
                                        </div>
                                <div class="column1">
                                   
                                    <div class="job-info">
                                        <h6 class="pricehead"><a href="blog.html">Couple Area</a></h6>
                                        <p>Fusce rutrum quam a ultrices rhoncus. Nulla eu ipsum tempus est et vitae nulla empus est suscipit et dolor amet.</p>
                                        <h5>December 25, 2019</h5>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                        <div class="price-box btn-layout bt6">
                            <div class="grid grid-column-2">
                                    <div class="column2">
                                            <img src="assets/images/g3.jpg" alt="" class="img-responsive">
                                        </div>
                                <div class="column1">
                                  
                                    <div class="job-info">
                                        <h6 class="pricehead"><a href="blog.html">Semper ac dolor vitae</a></h6>
                                        <p>Fusce rutrum quam a ultrices rhoncus. Nulla eu ipsum tempus est et vitae nulla empus est suscipit et dolor amet.</p>
                                        <h5>December 25, 2019</h5>
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>
                    
                    </div>
                    <div class="col-lg-4 pl-3 pl-lg-5 mt-lg-0 mt-5">
                        <h6 class="pricehead  mb-4">Find Us</h6>
                        <img src="assets/images/g2.jpg" alt="" class="img-responsive">
                       
                                <p class="my-3">Fusce rutrum quam a ultrices rhoncus. Nulla eu ipsum tempus est et vitae nulla empus est suscipit et dolor amet.</p>
                                <a class="btn btn-theme1" href="accommodation.html"> Where We Are <span class="fa fa-long-arrow-right"></span></a>
                            </div>
            </div>
        </div>
    </div>
</section>
<section class="w3l-feature-3">
	<div class="grid top-bottom py-5">
		<div class="container py-md-3">
			<div class="middle-section grid-column text-center">
				<div class="three-grids-columns">
					<span class="fa fa-envelope-o"></span>
					<h4>MAIL US</h4>
					<p>User interface design includes selecting and arranging interface elements </p>
					<a href="contact.html" class="btn btn-secondary btn-theme3 mt-4">Mail Me </a>
				</div>
				<div class="three-grids-columns">
					<span class="fa fa-globe"></span>
					<h4>LOCATE US</h4>
					<p>Page layout is where these components come together, while wireframing</p>
					<a href="contact.html" class="btn btn-secondary btn-theme3 mt-4">View Map </a>
				</div>
				<div class="three-grids-columns">
					<span class="fa fa-phone"></span>
					<h4>NEED HELP</h4>
					<p>For complex projects, wireframes using computer software is popular</p>
					<a href="contact.html" class="btn btn-secondary btn-theme3 mt-4">Call Us</a>
				</div>
			</div>
		</div>
	</div>
</section>
